*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#f2f4f8;
}

#counter{
font-size:70px;
margin-bottom:20px;
color:#333;
}

button{
width:60px;
height:45px;
font-size:22px;
border:none;
border-radius:8px;
cursor:pointer;
margin:5px;
}

#increment{
background:#4CAF50;
color:white;
}

#decrement{
background:#e53935;
color:white;
}

#reset{
background:#3a5ed6;
color:white;
width:60px;
margin-top:10px;
font-size:18px;
}


.step-control{
margin-top:20px;
display:flex;
align-items:center;
gap:10px;
}

#step{
width:80px;
padding:6px;
font-size:18px;
border-radius:6px;
border:1px solid #ccc;
text-align:center;
}